.bg-darker {
    background-color: #232323;
}

.bg-grey-ish {
    background-color: #d9d9d9;
}

.book-thumbnail-img {
    height: 30vh;
    object-fit: cover;
}

.book-details-img {
    max-width: 100%;
    object-fit: cover;
}