@model IEnumerable<PurchaseAdminListingViewModel>

@{
    ViewData["Title"] = "Purchases";
}

<h1 class="text-center">Purchases</h1>
<table class="table table-hover text-center">
    <thead>
    <tr class="font-weight-bold text-center row">
        <th class="col-6 col-md-5">Book</th>
        <th class="col-6 col-md-2">Date</th>
        <th class="col-md-2 d-none d-md-block">Price</th>
        <th class="col-md-3 d-none d-md-block">User</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var purchase in Model)
    {
        <tr class="row">
            <td class="col-6 col-md-5">
                <a asp-controller="Books" asp-action="Details" asp-route-id="@purchase.Book.Id">@purchase.Book.Title</a>
            </td>
            <td class="col-6 col-md-2">
                @purchase.PurchaseDate.ToString("dd.MM.yyyy")
            </td>
            <td class="col-md-2 text-success d-none d-md-block">
                €@purchase.Book.Price
            </td>
            <td class="col-md-3 d-none d-md-block">
                @purchase.UserEmail
            </td>
        </tr>
    }
    </tbody>
</table>