<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/assets/vendor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/main.min.css" asp-append-version="true">
    <title>@ViewData["Title"] - MyKniga</title>
</head>
<body>
<partial name="_NavbarPartial"/>

<main>
    <div class="container mt-4">
        @RenderBody()
    </div>
</main>

<script src="~/assets/vendor.min.js" asp-append-version="true"></script>
<script src="~/assets/main.min.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>