@model BookEditBindingModel

@{
    ViewData["Title"] = "Edit book";
}

<div class="text-center w-100 w-md-50 mx-auto">
    <h1>Edit book</h1>

    <form method="post" asp-controller="Books" asp-action="Edit">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control"/>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control"/>
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription"></label>
            <textarea asp-for="ShortDescription" class="form-control"></textarea>
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pages"></label>
            <input asp-for="Pages" class="form-control"/>
            <span asp-validation-for="Pages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control"/>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DownloadUrl"></label>
            <input asp-for="DownloadUrl" class="form-control"/>
            <span asp-validation-for="DownloadUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Isbn"></label>
            <input asp-for="Isbn" class="form-control"/>
            <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-secondary" asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>