@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col-12 col-md-3">
        <div class="card m-2 bg-grey-ish p-2">
            These are my filters
        </div>
    </div>
    
    <div class="col-12 col-md-9">
        <div class="row" id="booksList">
            
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/book-listing.js"></script>
}
