@{
    ViewData["Title"] = "Home Page";
}

@section UnderNavbar
{
    <header class="index-background">
        <div class="index-text-container">
            <h1 class="index-heading">Welcome to MyKniga</h1>
            <p class="index-paragraph">The website for buying books</p>
        </div>
    </header>
}